frontend+n8n/n8n/workflows/Network_Deploy_v0_8_step4_snapshots.json
{
  "name": "Network_Deploy_v0.8_step4_snapshots",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/networkdeploy/snapshot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        220
      ],
      "id": "283685d5-2730-47e3-8cbe-28933a2b772a",
      "name": "Webhook",
      "webhookId": "9005b8ce-7741-421b-bb7e-b18aaec949a8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7d6fb24-632c-413d-aeb2-5d70c80c332a",
              "name": "snapshot_time",
              "value": "={{     $json.snapshot_time ?? $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        80
      ],
      "id": "eddd3a63-42dd-41e7-90c9-d111574e21ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ip_address,\n  vendor_sw,\n  vendor_hw,\n  hw_sku,\n  hostname,\n  raw_config,\n  collected_at\nFROM\n  networkdeploy_device_configs\nWHERE\n  raw_config IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        -20
      ],
      "id": "2d6418a5-52c3-4cd7-aacb-c220adecd5c4",
      "name": "Select exsit Devices_config",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 取当前时间作为 snapshot_time\nconst snapshot_time = new Date().toISOString();\n\nconst results = $input.all().map(item => {\n  const data = item.json || {};\n\n  return {\n    ip_address: data.ip_address || null,       // 直接用ip_address！\n    vendor_sw: data.vendor_sw || null,\n    vendor_hw: data.vendor_hw || null,\n    hw_sku: data.hw_sku || null,\n    hostname: data.hostname || null,\n    raw_config: data.raw_config || null,\n    collected_at: data.collected_at || null,\n    snapshot_time: snapshot_time,               // 当前打快照的时间\n    version_tag: `snapshot_${snapshot_time.split('T')[0].replace(/-/g, '')}`,  // 简单版tag\n    created_at: new Date().toISOString(),        // 记录插入时间（可选）\n  };\n});\n\n// 每条组装好的快照打包成一条一条\nreturn results.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -20
      ],
      "id": "5beeb939-f378-4139-aa38-b8e9f66673e2",
      "name": "组装snapshots"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "networkdeploy_config_snapshots",
          "mode": "list",
          "cachedResultName": "networkdeploy_config_snapshots"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ip_address": "={{ $json.ip_address }}",
            "vendor_sw": "={{ $json.vendor_sw }}",
            "vendor_hw": "={{ $json.vendor_hw }}",
            "hw_sku": "={{ $json.hw_sku }}",
            "hostname": "={{ $json.hostname }}",
            "raw_config": "={{ $json.raw_config }}",
            "version_tag": "={{ $json.version_tag }}",
            "snapshot_time": "={{ $json.snapshot_time }}",
            "collected_at": "={{ $json.collected_at }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_sw",
              "displayName": "vendor_sw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_hw",
              "displayName": "vendor_hw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hw_sku",
              "displayName": "hw_sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hostname",
              "displayName": "hostname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_config",
              "displayName": "raw_config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "collected_at",
              "displayName": "collected_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "snapshot_time",
              "displayName": "snapshot_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "version_tag",
              "displayName": "version_tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        140,
        -40
      ],
      "id": "67448df8-1f9c-4dfb-9071-af6c427e6e55",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        80
      ],
      "id": "a10ef544-adaf-4e07-bf52-243d999c290e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH latest_snapshots AS (\n  SELECT\n    DISTINCT ON (ip_address)\n    ip_address,\n    hw_sku,\n    vendor_hw,\n    vendor_sw,\n    hostname,\n    snapshot_time,\n    version_tag\n  FROM \n    networkdeploy_config_snapshots\n  WHERE \n    snapshot_time >= now() - INTERVAL '1 day'\n  ORDER BY \n    ip_address, snapshot_time DESC\n)\nSELECT\n  ip_address,\n  hw_sku,\n  vendor_hw,\n  vendor_sw,\n  hostname,\n  snapshot_time,\n  version_tag\nFROM latest_snapshots\nORDER BY snapshot_time DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        100,
        220
      ],
      "id": "34ca3d02-56e7-418b-8db2-2de6930c5f69",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: $json.status || \"success\",\n  count: $items().length,\n  message: $json.message || null,\n  data: $items().map(item => item.json)\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -140,
        800
      ],
      "id": "c58d5ade-3749-46b1-b6bd-f539af4d5283",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba7996f9-8c17-41a6-a29f-95f59ee04c8e",
              "name": "ip_address",
              "value": "={{ $json.ip_address }}",
              "type": "string"
            },
            {
              "id": "f7b2fbf6-beea-4150-be94-6e38562f61bc",
              "name": "hostname",
              "value": "={{ $json.hostname }}",
              "type": "string"
            },
            {
              "id": "bfa64eb9-1486-4578-861d-868c0905c3f3",
              "name": "hw_sku",
              "value": "={{ $json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "da799444-acbb-4c02-8533-2a6682e6ab1a",
              "name": "vendor_hw",
              "value": "={{ $json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "d9ca3917-da7c-4961-a538-a99d41337590",
              "name": "vendor_sw",
              "value": "={{ $json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "ab2fce9a-30b7-4d70-9678-ae8a068f00c3",
              "name": "snapshot_time",
              "value": "={{ $json.snapshot_time }}",
              "type": "string"
            },
            {
              "id": "4cd233ee-b593-41e9-b518-3ece8b7e4c4c",
              "name": "version_tag",
              "value": "={{ $json.version_tag }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        800
      ],
      "id": "d22c0d40-cfec-46c7-9d51-8c6cdf41733f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "networkdeploy_config_snapshots"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -600,
        800
      ],
      "id": "1bf2c68e-7af0-4118-969a-b009b30e24b4",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "u1dPtQhZKTFreuwz",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/networkdeploy/getallsnapshot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        800
      ],
      "id": "d64fff60-1d86-4cbe-ae74-87cbfab715a2",
      "name": "Webhook1",
      "webhookId": "b569cc93-91d3-4f9f-9979-344de3e34c50"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select exsit Devices_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select exsit Devices_config": {
      "main": [
        [
          {
            "node": "组装snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装snapshots": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        []
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f847e04-eb41-4388-b889-2f420469bead",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "7iqT1eRk0hCdiaAR",
  "tags": []
}