n8n/workflows/Network_Deploy_v0_8_step1_get_devices_whenrefreshweb.json
{
  "name": "Network_Deploy_v0.8_step1_get-devices-whenrefreshweb",
  "nodes": [
    {
      "parameters": {
        "path": "/api/network-devices",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1160,
        -360
      ],
      "id": "f6b5f44b-4fe2-49fe-9083-f4383f190785",
      "name": "Webhook",
      "webhookId": "82ddd05c-e38f-446d-9ed5-47d85ec2cf76"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "networkdeploy_devices"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -920,
        -360
      ],
      "id": "d2fb73e0-7d62-4636-a1af-b1450d0cb1e4",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "u1dPtQhZKTFreuwz",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba7996f9-8c17-41a6-a29f-95f59ee04c8e",
              "name": "ip_address",
              "value": "={{ $json.ip_address }}",
              "type": "string"
            },
            {
              "id": "f7b2fbf6-beea-4150-be94-6e38562f61bc",
              "name": "hostname",
              "value": "={{ $json.hostname }}",
              "type": "string"
            },
            {
              "id": "bfa64eb9-1486-4578-861d-868c0905c3f3",
              "name": "hw_sku",
              "value": "={{ $json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "da799444-acbb-4c02-8533-2a6682e6ab1a",
              "name": "vendor_hw",
              "value": "={{ $json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "d9ca3917-da7c-4961-a538-a99d41337590",
              "name": "vendor_sw",
              "value": "={{ $json.vendor_sw }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        -360
      ],
      "id": "ded6c000-b1f0-4928-8fbc-b900cba7f688",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: $json.status || \"success\",\n  count: $items().length,\n  message: $json.message || null,\n  data: $items().map(item => item.json)\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -220,
        -340
      ],
      "id": "f5488d83-3597-4a2f-a586-bc67fd6de061",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8e2f4ba-bd03-4f42-9dfb-4202f91478ca",
              "leftValue": "={{ $json.vendor_hw }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -500,
        -360
      ],
      "id": "ac5c6728-595e-47f0-bd3d-9605c0240b7c",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40a1f276-6986-4446-a483-1d264b69ef7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "cv1naD29DegtNL7f",
  "tags": []
}