n8n/workflows/Network_deploy_v0_8_step2_customer_saved_topo.json
{
  "name": "Network_deploy_v0.8_step2_customer_saved_topo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/api/network-deployment/topology/save",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ],
      "id": "18515666-13ab-45ab-99eb-df1b1e46fe49",
      "name": "Webhook",
      "webhookId": "aaa9238a-acdf-4966-93f0-439752776a19"
    },
    {
      "parameters": {
        "jsCode": "const {\n  topology_name,\n  nodes,\n  links,\n  description,\n  created_by\n} = $json.body;\n\nif (!topology_name || !nodes || !links) {\n  throw new Error(\"缺少必要字段（topology_name/nodes/links）！\");\n}\n\nreturn [{\n  json: {\n    topology_name,\n    nodes,\n    links,\n    description: description || \"\",\n    created_by: created_by || \"system\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -20
      ],
      "id": "df72645a-195a-4529-affe-04ce96a0b6ea",
      "name": "Parse Topology Save Body"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        0
      ],
      "id": "e8aba567-539c-46cc-8438-5bb07e8ab570",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO networkdeploy_customer_saved_topology_snapshots \n(topology_name, nodes, links, description, created_by, created_at)\nVALUES (\n  $1, $2::jsonb, $3::jsonb, $4, $5, NOW()\n)\nON CONFLICT (topology_name) DO UPDATE SET\n  nodes = EXCLUDED.nodes,\n  links = EXCLUDED.links,\n  description = EXCLUDED.description,\n  created_by = EXCLUDED.created_by,\n  created_at = NOW();",
        "options": {
          "queryReplacement": "=1: {{$json.topology_name}}\n2: {{JSON.stringify($json.nodes)}}\n3: {{JSON.stringify($json.links)}}\n4: {{$json.description}}\n5: {{$json.created_by}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        40,
        -20
      ],
      "id": "25db19d2-2519-4171-8f01-8ecaf92aaa4f",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Topology Save Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topology Save Body": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdcf46b8-b7a1-4cc3-a696-8331258e2462",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "F00XDFyA4V8vYatA",
  "tags": []
}