n8n/workflows/Network_deploy_Telemetry_v0_8__api_network_deployment_topology_load.json
{
  "name": "Network_deploy+Telemetry_v0.8_/api/network-deployment/topology/load",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/api/network-deployment/topology/load",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -540,
        40
      ],
      "id": "42469950-e28f-4ab0-b187-4544aa32668a",
      "name": "Webhook",
      "webhookId": "7d28e3e5-49e9-456e-bb8f-f7db45cb0462"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM networkdeploy_customer_saved_topology_snapshots\nWHERE topology_name = $1",
        "options": {
          "queryReplacement": "=1: {{ $json.topology_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -100,
        40
      ],
      "id": "9555ed57-2338-4fb5-84da-f1de3d3daa3a",
      "name": "Execute Query",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        120,
        40
      ],
      "id": "d372a7f4-37ff-4931-b026-df8492f524ba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const topologyName = $json.body.topology_name;\nif (!topologyName) {\n  throw new Error(\"Missing required query param: topology_name\");\n}\n\nreturn [{ json: { topology_name: topologyName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        40
      ],
      "id": "4af56c30-fc2e-4fc8-8f4b-957ea2b18110",
      "name": "AB_ID"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AB_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AB_ID": {
      "main": [
        [
          {
            "node": "Execute Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd283d80-e2ec-41f0-a49c-86e6f3222c7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "KYBr8iKK9M9jHbjh",
  "tags": []
}