n8n/workflows/Network_deploy_v0_8_step3_scan_networkdeploy_config_get.json
{
  "name": "Network_deploy_v0.8_step3_scan_networkdeploy_config_get",
  "nodes": [
    {
      "parameters": {
        "path": "api/getconfig",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        -120
      ],
      "id": "6a58084d-110b-4ef3-97c4-e11c1121f5f3",
      "name": "Webhook",
      "webhookId": "63f98122-7e68-44f2-9200-a0b992eca64d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  raw_config\nFROM \n  networkdeploy_device_configs\nWHERE \n  ip_address = '{{$json[\"query\"][\"ip\"]}}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        -120
      ],
      "id": "b845cfa8-0694-4a53-b4c3-a1568d31b12b",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        -120
      ],
      "id": "52eef37b-2b87-4904-8569-417f8a15a5bf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\n\nif (results.length === 0) {\n  return [{\n    json: {\n      error: \"Device not found\"\n    },\n    http: {\n      statusCode: 404\n    }\n  }];\n} else {\n  return results;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -120
      ],
      "id": "44824f37-192a-40cc-aa40-97d9a30e013c",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f71c3f92-e40c-409a-8afe-8d919af3d42b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "yxRevlsqlyAxH9lW",
  "tags": []
}