n8n/workflows/Network_deploy_v0_8_step3_scan_networkdeploy_config.json
{
  "name": "Network_deploy_v0.8_step3_scan_networkdeploy_config",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/networkdeploy/getconfig",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        1620
      ],
      "id": "58d6ca8c-39d7-44ba-a0fa-6a711254e366",
      "name": "Webhook1",
      "webhookId": "3a3f276a-a5dd-447b-9b05-a663a7d599e6"
    },
    {
      "parameters": {
        "jsCode": "const devices = $json.body.devices || [];\nreturn devices.map(device => ({\n  json: device\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        1620
      ],
      "id": "e81891e8-a8e7-49dd-91d8-3773ca8fcecf",
      "name": "Split Devices"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 11,
        "output": "={{ \n  $json.vendor_sw.toLowerCase().includes('sonic') ? 0 :\n  $json.vendor_sw.toLowerCase().includes('cisco') ? 1 :\n  $json.vendor_sw.toLowerCase().includes('juniper') ? 2 :\n  $json.vendor_sw.toLowerCase().includes('arista') ? 3 :\n  $json.vendor_sw.toLowerCase().includes('nokia') ? 4 :\n  $json.vendor_sw.toLowerCase().includes('comware') ? 5 :\n  $json.vendor_sw.toLowerCase().includes('procurve') ? 6 :\n  $json.vendor_sw.toLowerCase().includes('aruba') ? 7 :\n  $json.vendor_sw.toLowerCase().includes('huawei') ? 8 :\n  9 \n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        340
      ],
      "id": "094f40be-fa32-457c-aa43-e41183efb28b",
      "name": "Select Command"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{$json.ssh_pass}}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{$json.ssh_user}}@{{$json.ip_address}} \"show runningconfiguration all || sudo config dump\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f7f942c2-f913-45b1-bf20-ed0fe14cf971",
      "name": "SONiC Command1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"show running-config\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        140
      ],
      "id": "c1b5fd0c-dd34-4966-ad7a-59c5a031f4e2",
      "name": "Cisco Command2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"show configuration\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        280
      ],
      "id": "b32c6294-f4c6-4b48-90d9-40860b66a0bd",
      "name": "Juniper Command1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"show running-config\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        420
      ],
      "id": "12d4c8c1-0208-4e08-9707-c6e6f3831779",
      "name": "Arista Command1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"admin display-config\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "id": "4b0dbd25-2415-4721-9759-23ed8603c717",
      "name": "Nokia Command",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"display current-configuration\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        700
      ],
      "id": "7f04e766-32c3-4456-9ff2-74a144f70eb6",
      "name": "Comware Command",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"show running-config\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        840
      ],
      "id": "03615e59-36ef-4b4a-b871-6b07bc2ae71a",
      "name": "Procurve Command1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"show running-config\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        980
      ],
      "id": "d6af4573-1b5f-4495-8cad-e5331c5290ed",
      "name": "Aruba Command",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=sshpass -p '{{ $json.ssh_pass }}' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 {{ $json.ssh_user }}@{{ $json.ip_address }} \"display current-configuration\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        1120
      ],
      "id": "2e2ba224-7c36-4091-8118-73b5bce3ee0a",
      "name": "Huawei Command",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ip_address: $json.ip_address || null,\n    vendor_sw: $json.vendor_sw || \"未知\",\n    status: \"error\",\n    message: `不支持的操作系统类型: ${$json.vendor_os || \"未知\"}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1260
      ],
      "id": "091e2645-7744-401f-b361-03ec74e07869",
      "name": "Unsupported Vendor",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2380,
        560
      ],
      "id": "4dcff69d-4940-42de-9345-1844341683f2",
      "name": "Respond to Webhook",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55b19c58-8d10-4ee3-9225-572a9b180122",
              "leftValue": "={{ $json.raw_config }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        620
      ],
      "id": "8fba6c9e-ce23-4a57-b15c-c22ea0015e12",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// 收集所有input items\nconst allItems = $input.all();\n\n// 处理每个item，组装结果\nconst results = allItems.map(item => {\n  const data = item.json || {};\n\n  const baseInfo = {\n    ip_address: data.ip_address || null,\n    vendor_sw: data.vendor_sw || null,\n    vendor_hw: data.vendor_hw || null,\n    hw_sku: data.hw_sku || null,\n    hostname: data.hostname || null,\n    collected_at: data.collected_at || null, // ✅ 补上采集时间\n  };\n\n  if (data.error) {\n    // 情况2：SSH连接失败\n    return {\n      ...baseInfo,\n      status: \"error\",\n      message: \"无法连接设备\",\n      config_link: null,\n    };\n  } else if (!data.raw_config) {\n    // 情况3：厂商暂不支持\n    return {\n      ...baseInfo,\n      status: \"error\",\n      message: data.message || \"暂不支持配置扫描\",\n      config_link: null,\n    };\n  } else {\n    // 情况1：成功插入Postgres\n    return {\n      ...baseInfo,\n      status: \"success\",\n      message: \"success\",\n      config_link: `/api/getconfig?ip=${data.ip_address}`,\n    };\n  }\n});\n\n// 统计数量\nconst totalCount = results.length;\nconst successCount = results.filter(item => item.status === \"success\").length;\nconst errorCount = totalCount - successCount;\n\n// 最后统一返回\nreturn [{\n  json: {\n    summary: {\n      total_count: totalCount,\n      success_count: successCount,\n      error_count: errorCount\n    },\n    result: results\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        560
      ],
      "id": "ba3d002c-52b7-41be-b7ff-5b9568aa8cf0",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "5d89638e-f4e7-4d43-9996-7da692277ab3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "27cedf66-902d-4324-b0f7-cbf944476b42",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        1240
      ],
      "id": "a48a5d43-08dc-4d0d-8bc9-4115315fd202",
      "name": "Edit Fields2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "818ccee9-73c3-4d03-8f61-9c6b64eb4267",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        760
      ],
      "id": "e61be3dd-f36d-4e39-866a-9ec50aa6767e",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "networkdeploy_device_configs",
          "mode": "list",
          "cachedResultName": "networkdeploy_device_configs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ip_address": "={{ $json.ip_address }}",
            "raw_config": "={{ $json.raw_config }}",
            "vendor_hw": "={{ $json.vendor_hw }}",
            "hw_sku": "={{ $json.hw_sku }}",
            "hostname": "={{ $json.hostname }}",
            "vendor_sw": "={{ $json.vendor_sw }}",
            "collected_at": "2025-05-23T17:08:46"
          },
          "matchingColumns": [
            "ip_address"
          ],
          "schema": [
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_config",
              "displayName": "raw_config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "parse_config",
              "displayName": "parse_config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "collected_at",
              "displayName": "collected_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "vendor_sw",
              "displayName": "vendor_sw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "vendor_hw",
              "displayName": "vendor_hw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "hw_sku",
              "displayName": "hw_sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "hostname",
              "displayName": "hostname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        440
      ],
      "id": "68044529-f326-4eca-9a58-0e6f7913f279",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1900,
        560
      ],
      "id": "44c15b7c-c740-4697-a6df-591013c37a65",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        160
      ],
      "id": "02cafbce-56ae-4cd4-be0a-84831b944906",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        320
      ],
      "id": "b9f39a47-2e51-40d3-a617-e9bd18c52489",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        440
      ],
      "id": "ad4cb5de-5ca5-4d83-ab80-4ddada22f440",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        540
      ],
      "id": "ba2ba0a9-ff4d-4e5a-9918-1c74b5ebdda0",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        640
      ],
      "id": "65e2f387-ab30-4189-a62f-6fa9cf33bdd6",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        800
      ],
      "id": "b9fd0ba3-0089-4201-8edc-1152bf105d01",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        940
      ],
      "id": "90722d03-2dd1-4ca1-9de6-88e9925f7279",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3cf6032-d49d-41a9-9f77-1f7800c590d3",
              "name": "ip_address",
              "value": "={{ $('Select Command').item.json.ip_address }}",
              "type": "string"
            },
            {
              "id": "807bd254-6916-4d3a-ae94-30bed890c52a",
              "name": "vendor_sw",
              "value": "={{ $('Select Command').item.json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "118b8b32-2c4a-4c6d-8fe4-2bce57797c68",
              "name": "raw_config",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "0a3115c7-c5af-4de8-a070-2212ce47445c",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "2debaf73-10f8-47cb-a8fd-ea6b70d4fd3c",
              "name": "vendor_hw",
              "value": "={{ $('Select Command').item.json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "64053449-10f2-4ac8-b4e5-1fb809bf6a40",
              "name": "hw_sku",
              "value": "={{ $('Select Command').item.json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "47ede4f5-80a6-410b-9bd0-5dd68fe6f594",
              "name": "hostname",
              "value": "={{ $('Select Command').item.json.hostname }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        1040
      ],
      "id": "5179e760-a841-4d9e-8e6d-c8af86192e0c",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.networkdeploy_devices_config_cli (ip_address, username, password, cli_config)\nvalues (\n  '{{$json.ip_address}}',\n  '{{$json.ssh_user}}',\n  '{{$json.ssh_pass}}',\n  ''\n)\non conflict (ip_address)\ndo update set\n  username = excluded.username,\n  password = excluded.password;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -20,
        1620
      ],
      "id": "59a9a6df-ae47-421c-a552-aa55270fcbc8",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## In order to get Username and Password"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        1600
      ],
      "id": "49f23f04-6ac0-4fb2-b707-539da6e1071d",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        200
      ],
      "id": "2ca03aeb-d1f9-41a7-8598-342c9c8d837f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "networkdeploy_devices_config_cli"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1480,
        220
      ],
      "id": "c0bc666a-6e2d-4dea-8b0e-3aed73b42be2",
      "name": "Supabase"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "networkdeploy_devices",
        "filters": {
          "conditions": [
            {
              "keyName": "ip_address",
              "condition": "eq",
              "keyValue": "={{ $json.ip_address }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1240,
        60
      ],
      "id": "0d0be148-5d60-40ab-80a3-2cabda34ff37",
      "name": "Supabase1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e55d14ef-c901-4d42-9893-bfddb3c01e00",
              "name": "ip_address",
              "value": "={{ $json.ip_address }}",
              "type": "string"
            },
            {
              "id": "4a764caa-4b7c-4cb7-8fe1-bfd1bfb865e7",
              "name": "ssh_user",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "477c5def-b994-4903-883e-24c7990d544a",
              "name": "ssh_pass",
              "value": "={{ $json.password }}",
              "type": "string"
            },
            {
              "id": "0fb2820d-01de-40e9-9921-73dcc0b49e1d",
              "name": "hostname",
              "value": "={{ $json.hostname }}",
              "type": "string"
            },
            {
              "id": "bdd71d14-5556-49de-8142-5ad96941cd90",
              "name": "vendor_hw",
              "value": "={{ $json.vendor_hw }}",
              "type": "string"
            },
            {
              "id": "f52c4a41-864f-4c97-a352-eeb200876698",
              "name": "vendor_sw",
              "value": "={{ $json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "a463c5d3-a3bd-4b31-a24b-02351647e3d9",
              "name": "hw_sku",
              "value": "={{ $json.hw_sku }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        220
      ],
      "id": "8e66168c-1c82-4090-91b8-4834da5c002f",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "ip_address",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1020,
        220
      ],
      "id": "eaeaddb4-a830-49e4-a16b-320ff5036816",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all().map(item => item.json);\n\nreturn [\n  {\n    json: {\n      body: {\n        devices: inputItems\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        260
      ],
      "id": "dd5c4b46-71ae-42b2-a134-4dc12604d56f",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "## Everyday 03:00 am grab config"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1740,
        0
      ],
      "id": "e51fb077-f562-49f9-b5ac-bab1566e0cf4",
      "name": "Sticky Note1",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Split Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Devices": {
      "main": [
        [
          {
            "node": "Select Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Command": {
      "main": [
        [
          {
            "node": "SONiC Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cisco Command2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Juniper Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Arista Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nokia Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comware Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procurve Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aruba Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Huawei Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SONiC Command1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cisco Command2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juniper Command1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arista Command1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nokia Command": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comware Command": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procurve Command1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aruba Command": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Huawei Command": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Vendor": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f7fafe3-9407-446d-9a66-f22b1a57b308",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "FXMRmiu8MRF355VK",
  "tags": []
}