n8n/workflows/olaola_CLI_C2_request.json
{
  "name": "olaola_CLI_C2_request",
  "nodes": [
    {
      "parameters": {
        "command": "cat ~/.n8n/metadata_user_id/olaola_meta.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        240
      ],
      "id": "f68e2f84-3baa-4e28-b981-7e476d63e89b",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2f03df3d-2e2f-4f86-8b7e-477a01d3cec8",
      "name": "Webhook",
      "webhookId": "d372d9f0-cfdc-4a3e-9e77-115426f82002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.olaola.dev/webhook/Saas/OlaOla/CLI/C2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $json[\"body\"][\"sessionId\"] }}"
            },
            {
              "name": "question",
              "value": "={{ $json[\"body\"][\"question\"] }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        20
      ],
      "id": "0e305b49-9f28-4e74-b243-f523e0e0db51",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1220,
        20
      ],
      "id": "0c5509a4-177d-4681-bb8b-29b384d25574",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        620,
        20
      ],
      "id": "0591cdf1-34ab-4590-9f4e-eb9c6015cdd9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: { user_id: data.user_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        240
      ],
      "id": "4d5e47b6-5097-46aa-a6f9-69ff1e50e885",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return [ { json: items[0].json } ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        20
      ],
      "id": "bda27bdc-e7b1-48e4-a035-d18e3544f1f4",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7b4dddc-cbb0-4854-9e9e-1bdd7d2bd1a2",
  "meta": {
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "vTRljyS33DFVt5ke",
  "tags": []
}
