n8n/workflows/olaola_orchestrator_C2_request.json
{
  "name": "olaola_orchestrator_C2_request",
  "nodes": [
    {
      "parameters": {
        "command": "cat ~/.n8n/metadata_user_id/olaola_meta.json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        240
      ],
      "id": "fd205ba5-2685-4b0d-b314-cae4e8308635",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/olaola/orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "89c4db00-f48e-4fcf-a94e-682ac935bffb",
      "name": "Webhook",
      "webhookId": "d372d9f0-cfdc-4a3e-9e77-115426f82002"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://142.132.170.11:5678/webhook/olaola/orchestrator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        20
      ],
      "id": "1468d63d-7048-48d3-985c-efa352428462",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        20
      ],
      "id": "0727434b-27bd-497d-9579-aac7e79833e6",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        620,
        20
      ],
      "id": "a08f6bf0-5b42-4860-b626-6cbf82f34326",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json[\"stdout\"]);\nreturn [{ json: { user_id: data.user_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        240
      ],
      "id": "1dc988e7-a372-4e3a-81dc-e9cb08c697e5",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7db601d-95e7-4a62-ab86-82e30a51ad2a",
  "meta": {
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "zsELYnFmUMJfTXbp",
  "tags": []
}