n8n/workflows/telemetry_fetch_table.json
{
  "name": "telemetry_fetch_table",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telemetry_fetch_last_time",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        200
      ],
      "id": "52630bfd-d652-4e9a-8cd0-a8b8a47450e7",
      "name": "Webhook",
      "webhookId": "1fe50e6b-04d1-4375-9c7a-a85b973a9bc7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "X6k4F1pnNNc7cJHR",
          "mode": "list",
          "cachedResultName": "/Network_deploy+Telemetry_v0.8_/api/HDtelemetry/device_layout_last_time"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -420,
        200
      ],
      "id": "d46c414c-2448-463e-b4f9-c8d9414063c8",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -200,
        200
      ],
      "id": "2b17a11b-a459-4c26-b6dd-ea2c1ef0dff7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telemetry_fetch_real_time",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        -140
      ],
      "id": "d26ac346-04d2-40a3-baa1-71cf29573765",
      "name": "Webhook1",
      "webhookId": "1fe50e6b-04d1-4375-9c7a-a85b973a9bc7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e3cL0SpW6V9I62WR",
          "mode": "list",
          "cachedResultName": "/Network_deploy+Telemetry_v0.8_/api/HDtelemetry/device_layout_realtime"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -420,
        -140
      ],
      "id": "2da66167-7118-4d63-8dcf-3d96bdc884b6",
      "name": "Execute Workflow1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        380,
        -140
      ],
      "id": "d0286de1-3ca2-4e01-8a5e-2236729792ba",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bcf69ec-1ccf-4754-9880-ac52e4b02a79",
              "name": "ip_address",
              "value": "={{ $json.body.ip_list }}",
              "type": "string"
            },
            {
              "id": "62a2baeb-3e0c-42e7-89a0-98e47c8c4f8e",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        -40
      ],
      "id": "5eb7859b-d87a-454a-80ed-27c06e3c3da5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "caf0f9f4-c6e3-4870-a9e4-1755fbdcbff5",
              "name": "ip_address",
              "value": "={{ $json.ip_address }}",
              "type": "string"
            },
            {
              "id": "163a1fc1-64ea-47d9-8617-8c0763fa1cf0",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        -220
      ],
      "id": "5eb8edd7-e0ab-4754-8753-9a2726d721f2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE datahub_agent_raw_v0_8\nSET \n  fetch_status = '{{ $json.status }}',\n  fetch_time   = NOW()\nWHERE ip_address = '{{ $json.ip_address }}'\n  AND timestamp = (\n    SELECT MAX(timestamp)\n    FROM datahub_agent_raw_v0_8\n    WHERE ip_address = '{{ $json.ip_address }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        120,
        -340
      ],
      "id": "af66b9cf-b1f1-416f-b39d-6935550d03c6",
      "name": "Get Devices3",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE datahub_agent_raw_v0_8\nSET \n  fetch_status = '{{ $json.status }}',\n  fetch_time   = NOW()\nWHERE ip_address = '{{ $json.ip_address }}'\n  AND timestamp = (\n    SELECT MAX(timestamp)\n    FROM datahub_agent_raw_v0_8\n    WHERE ip_address = '{{ $json.ip_address }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        60,
        40
      ],
      "id": "1f73e96f-990f-4571-9a3a-2de65a516843",
      "name": "Get Devices",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/telemetry/result",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        -580
      ],
      "id": "40f13b26-f319-472e-ae4a-c2d321892580",
      "name": "Webhook3",
      "webhookId": "0e981e4d-578d-41bf-b1f9-a026a1be3da1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        360,
        -580
      ],
      "id": "3eb49158-6628-4718-8fb1-010e44474eb5",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5e1f346-04aa-4f3f-954a-4f308707c3f6",
              "name": "ip_address",
              "value": "={{ $json.ip_address }}",
              "type": "string"
            },
            {
              "id": "9ed9e07e-0d5b-435d-86e6-79e1435f7ee5",
              "name": "hostname",
              "value": "={{ $json.hostname }}",
              "type": "string"
            },
            {
              "id": "7ea14f14-30f1-43ff-bd0d-3d100a968622",
              "name": "vendor_sw",
              "value": "={{ $json.vendor_sw }}",
              "type": "string"
            },
            {
              "id": "cd6ac8da-7ecb-4b41-a28d-227163abb62c",
              "name": "hw_sku",
              "value": "={{ $json.hw_sku }}",
              "type": "string"
            },
            {
              "id": "758d7efd-2140-4b4c-b3ce-0fa58058e5f7",
              "name": "fetch_status",
              "value": "={{ $json.fetch_status }}",
              "type": "string"
            },
            {
              "id": "8c8b1faf-6ed8-44c2-8766-a70577ae9ea1",
              "name": "fetch_time",
              "value": "={{ $json.fetch_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        -580
      ],
      "id": "63be477f-0496-4ff9-8990-e956ced678b5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        0,
        -580
      ],
      "id": "207ae9f1-6a21-4fd0-9012-c1a8b3db9394",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ip_address, fetch_time, fetch_status\nFROM datahub_agent_raw_v0_8\nWHERE fetch_status = 'success'\nORDER BY fetch_time DESC\nLIMIT 50;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -420,
        -580
      ],
      "id": "40526dac-4c99-4a72-833d-675ec1c607ce",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "EzSF61njyrocgFwV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "networkdeploy_devices",
        "filters": {
          "conditions": [
            {
              "keyName": "ip_address",
              "condition": "eq",
              "keyValue": "={{ $json.ip_address }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -200,
        -740
      ],
      "id": "27535f2d-5c59-44a5-8faa-92ddfb016fcf",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "u1dPtQhZKTFreuwz",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get Devices3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Devices3": {
      "main": [
        []
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "338cf094-7de0-4773-9f74-e70e196ff24a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c4f8b2c2b4d02cf4fc2cfa5c4b6a1500ac4c1c82a34628dc509dca968f8700d"
  },
  "id": "ukNaW3gn6i7gV1KR",
  "tags": []
}